<h2 class="titulo">Usuario:</h2>

<form>

    <!-- Grid -->
    <div class="grid">
  
      <!-- Markup example 1: input is inside label -->
      <label for="title">
        Username: 
      </label>
      <input type="text" id="username" name="username" [(ngModel)]="item.username" required>

      <label for="password">
        Password: 
      </label>
      <input type="password" id="password" name="password" [(ngModel)]="item.password" required>
  
      <label for="passwordRepeat">
        Password Repeat: 
      </label>
      <input type="password" id="passwordRepeat" name="passwordRepeat"  [(ngModel)]="item.passwordRepeat" required>
  

      <label for="Rol">Category</label>
      <select [(ngModel)]="item.roleId" name="role" id="rol">
          <option  *ngFor="let r of roles" value="{{r.id}}" >{{r.name}}</option>
      </select>

    </div>
  
    <!-- Button -->
    <button (click)="save()">Guardar</button>
  
  </form>
