<h2 class="titulo">Carreras</h2>

<table>
    <thead>
      <tr>
        
        <th scope="col">Nombre</th>    
        <th scope="col">Descripcion</th>    
        <th scope="col">Materias</th>    
        <th width="200" scope="col">Acciones</th>  
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of list">
            
            <td scope="col">{{item.name}}</td>
            <td scope="col">{{item.description}}</td>
            <td scope="col"><button class="button" (click)="goToMaterias(item.id)">Materias</button></td>
            <td class="acciones">
              <a [routerLink]="['/career/details']" [queryParams]="{id:item.id}"><button class="button-editar">
                Editar
              </button></a>
               <div><button  (click)="remove(item.id)" class="button-editar">
                Eliminar
              </button></div> 
          </td>
        </tr>
    </tbody>
</table>
<a [routerLink]="['/career/details']"><button>Agregar Carrera</button></a>
