<nav>
    <ul>
      <li><strong>Sistema</strong></li>
    </ul>
    <ul *ngIf="isLogged()">
      <li *ngIf="isAdmin()" ><a [routerLink]="['/career/list']">Carreras</a></li>
      <li *ngIf="isAdmin()"><a [routerLink]="['/requirement']">Requisitos</a></li>
      <li *ngIf="isAdmin()"><a [routerLink]="['/user/list']">Usuarios</a></li>
      <li><a [routerLink]="['/post/list']">Publicaciones</a></li>
      <li *ngIf="isAdmin()"><a [routerLink]="['/settings']">Configuracion</a></li>
      <li><button (click)="logout()">Salir</button></li>
    </ul>
</nav>
  
  
  
