<h2 class="titulo">Requisitos:</h2>

<form>

    <!-- Grid -->
    <div class="grid">
  
      <!-- Markup example 1: input is inside label -->
    
      <label for="title">
        {{requirement.key}}
      </label>
      <!--<textarea id="{{ requirement?.key }}" name="{{ requirement?.key }}" placeholder="Title..."  [(ngModel)]="requirement.value" required>
      </textarea>-->
      <angular-editor  id="{{ requirement?.key }}" name="{{ requirement?.key }}"  [config]="getConfigEditor()" [(ngModel)]="requirement.value"></angular-editor>
    
    </div>

    <br>
    <!-- Button -->
    <button (click)="save()">Guardar</button>
  
  </form>
