<h2 class="titulo">Materia:</h2>

<form>

    <!-- Grid -->
    <div class="grid">
  
      <!-- Markup example 1: input is inside label -->
      <label for="nombre">Nombre: </label>
      <input type="text" id="nombre" name="nombre" placeholder="Nombre de la materia..."  [(ngModel)]="item.name" required>
  
      <label for="anio">Año</label>
      <input type="text" placeholder="Año de cursada..." [(ngModel)]="item.year" name="anio" id="anio"required/>

      <label for="tipo">Tipo</label>
      <select id="tipo" required>
        <option value="anual" selected>Anual</option>
        <option value="cuatrimestral" selected>Cuatrimestral</option>
      </select>

    </div>
  
    <!-- Button -->
    <button (click)="save()">Guardar</button>
  
  </form>
